# Node
node_modules/
package-lock.json

# Secrets & lokale DB
.env
cirs.db
*.db
data/
var/

# Logs
npm-debug.log*
*.log

# macOS/Win
.DS_Store
Thumbs.db

# --- force track local logo ---
!public/
!public/**/
!public/logo.png

